.play-button {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #cddae2;
  cursor: pointer;
  pointer-events: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.surround-button {
  width: 150px;
  height: 150px;
  shape-outside: circle();
  clip-path: circle();
  background: rgb(49, 48, 48);
  position: relative;
}

/* Play button properties using CSS shape */
.play-button::before {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border-bottom: 20px solid transparent;
  border-top: 20px solid transparent;
  border-left: 30px solid rgb(55, 30, 95);
  top: 50%;
  left: 53%;
  transform: translate(-50%, -50%);
}
